.container {
    margin-bottom: 2rem;
    overflow: hidden;
}

.scrollContainer {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
    /* Firefox */
}

.scrollContainer::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}

.tag {
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
}

.tag:hover {
    filter: brightness(0.9);
}